<!doctype html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html::head"></head>

<body>
<header th:replace="fragments/top_nav.html :: navbar"></header>
<div id="wrap" class="container-fluid" style="padding:100px;">
    <div class="row">
        <div class="col-1 col-lg-1 col-md-2"><input class="form-control" id="input_id" type="text" placeholder="id"></div>
        <div class="col-1 col-lg-1 col-md-2"><input class="form-control" id="input_code" type="text" placeholder="code"></div>
        <div class="col-xs-4 col-lg-2 col-md-2">
            <select name="from[]" id="search"  th:field="${options}" class="form-control" size="20" multiple="multiple">
                <option value="1">Item 1</option>
                <option value="2">Item 5</option>
                <option value="2">Item 2</option>
                <option value="2">Item 4</option>
                <option value="3">Item 3</option>
                <option value="2">Item 5</option>
                <option value="2">Item 5</option>
                <option value="2">Item 5</option>
                <option value="2">Item 5</option>
                <option value="2">Item 5</option>
                <option value="2">Item 5</option>
                <option value="2">Item 5</option>
                <option value="2">Item 2</option>
                <option value="2">Item 4</option>
                <option value="3">Item 3</option>
                <option value="2">Item 5</option>
                <option value="2">Item 5</option>
                <option value="2">Item 5</option>
                <option value="2">Item 5</option>
                <option value="2">Item 5</option>
                <option value="2">Item 5</option>
                <option value="2">Item 5</option>
                <option value="2">Item 2</option>
                <option value="2">Item 4</option>
                <option value="3">Item 3</option>
                <option value="2">Item 5</option>
                <option value="2">Item 5</option>
                <option value="2">Item 5</option>
                <option value="2">Item 5</option>
                <option value="2">Item 5</option>
                <option value="2">Item 5</option>
                <option value="2">Item 5</option>
                <option value="2">Item 2</option>
                <option value="2">Item 4</option>
                <option value="3">Item 3</option>
                <option value="2">Item 5</option>
                <option value="2">Item 5</option>
                <option value="2">Item 5</option>
                <option value="2">Item 5</option>
                <option value="2">Item 5</option>
                <option value="2">Item 5</option>
                <option value="2">Item 5</option>
                <option value="2">Item 2</option>
                <option value="2">Item 4</option>
                <option value="3">Item 3</option>
                <option value="2">Item 5</option>
                <option value="2">Item 5</option>
                <option value="2">Item 5</option>
                <option value="2">Item 5</option>
                <option value="2">Item 5</option>
                <option value="2">Item 5</option>
                <option value="2">Item 5</option>
                <option
                    th:each="option: ${options}"
                    th:value="${option.getKey}"
                    th:text="${option.getValue}"></option>
            </select>
        </div>

        <div class="col-xs-1" style="width:3%;padding:5px">
            <button type="button" id="search_rightAll" class="btn btn-outline-warning">
                <i class="bi bi-chevron-double-right"></i>
            </button>
            <button type="button" id="search_rightSelected" class="btn btn-outline-dark"><i class="bi bi-caret-right"></i></button>
            <button type="button" id="search_leftSelected" class="btn btn-outline-dark">
                <i class="bi bi-caret-left"></i>

            </button>
            <button type="button" id="search_leftAll" class="btn btn-outline-success">
                <i class="bi bi-chevron-double-left"></i>
            </button>
        </div>

        <div class="col-xs-4 col-lg-2 col-md-2">
            <select name="to[]" id="search_to" class="form-control" size="20" multiple="multiple"></select>
        </div>

        <div class="col-xs-1 col-lg-1 col-md-1">
            <button type="submit" class="btn btn-primary" id="do_create">Add permission</button>
        </div>

    </div>
</div>

<footer th:replace="fragments/footer.html :: footer"></footer>


</body>
</html>